{
  "editor": {
    "ace [<n>]": "ace [<n>]",
    "act": "act",
    "bump [<n>]": "bump [<n>]",
    "care": "care",
    "chuck [<n>]": "chuck [<n>]",
    "doll": "doll",
    "down [<n>]": "down [<n>]",
    "drop [<n>]": "drop [<n>]",
    "file toe": "file toe",
    "file top": "file top",
    "gope [<n>]": "gope [<n>]",
    "keep": "keep",
    "kink": "kink",
    "left [<n>]": "left [<n>]",
    "lilo": "lilo",
    "line down [<n>]": "line down [<n>]",
    "lineup [<n>]": "lineup [<n>]",
    "lope [<n>]": "lope [<n>]",
    "navi blart [<n>]": "navi blart [<n>]",
    "navi blend [<n>]": "navi blend [<n>]",
    "navi mart [<n>]": "navi mart [<n>]",
    "navi mend [<n>]": "navi mend [<n>]",
    "plop [<n>]": "plop [<n>]",
    "right [<n>]": "right [<n>]",
    "scratch [<n>]": "scratch [<n>]",
    "select block": "select block",
    "selection mode": "selection mode",
    "slap [<n>]": "slap [<n>]",
    "snap [<n>]": "snap [<n>]",
    "squish [<n>]": "squish [<n>]",
    "tab [<n>]": "tab [<n>]",
    "up [<n>]": "up [<n>]",
    "whack [<n>]": "whack [<n>]",
    "wiki [<m>]": "wiki [<m>]",
    "wipe [<n>]": "wipe [<n>]",
    "yank": "yank",
    "yope [<n>]": "yope [<n>]"
  },
  "terminal": {
    "auto comp": "auto comp",
    "go to error": "go to error",
    "go to previous error": "go to previous error",
    "idea rerun": "idea rerun",
    "navi flake": "navi flake",
    "navi flip": "navi flip",
    "navi flop": "navi flop",
    "navi hike": "navi hike",
    "navi split": "navi split",
    "navi unsplit": "navi unsplit",
    "refactor name": "refactor name"
  }
}