{
  "format.case": {
    "lower": "lower",
    "upper": "upper"
  },
  "format.format": {
    "abs-path": "abs-path",
    "camel": "camel",
    "dashword": "dashword",
    "dotword": "dotword",
    "jumble": "jumble",
    "natword": "natword",
    "proper": "proper",
    "rel-path": "rel-path",
    "scope-resolve": "scope-resolve",
    "score": "score",
    "sentence": "sentence",
    "snakeword": "snakeword"
  },
  "characters.digits": {
    "eight": "eight",
    "five": "five",
    "four": "four",
    "niner": "niner",
    "one": "one",
    "seven": "seven",
    "six": "six",
    "three": "three",
    "two": "two",
    "zero": "zero"
  },
  "characters.symbols": {
    "amp": "amp",
    "ash": "ash",
    "at sign": "at sign",
    "back ash": "back ash",
    "backtick": "backtick",
    "bang": "bang",
    "bar": "bar",
    "clap": "clap",
    "comma": "comma",
    "cross": "cross",
    "dollar": "dollar",
    "dot": "dot",
    "eek": "eek",
    "hat": "hat",
    "hyph": "hyph",
    "lace": "lace",
    "lack": "lack",
    "laip": "laip",
    "percent": "percent",
    "pound": "pound",
    "quest": "quest",
    "quote": "quote",
    "race": "race",
    "rack": "rack",
    "rail": "rail",
    "raip": "raip",
    "smote": "smote",
    "splat": "splat",
    "tilde": "tilde",
    "wink": "wink"
  },
  "characters.lowercase": {
    "alpha": "alpha",
    "bravo": "bravo",
    "charlie": "charlie",
    "delta": "delta",
    "echo": "echo",
    "foxtrot": "foxtrot",
    "golf": "golf",
    "hotel": "hotel",
    "indigo": "indigo",
    "juliet": "juliet",
    "kilo": "kilo",
    "lima": "lima",
    "mike": "mike",
    "november": "november",
    "oscar": "oscar",
    "poppa": "poppa",
    "quiche": "quiche",
    "romeo": "romeo",
    "sierra": "sierra",
    "tango": "tango",
    "uniform": "uniform",
    "victor": "victor",
    "whiskey": "whiskey",
    "x-ray": "x-ray",
    "yankee": "yankee",
    "zulu": "zulu"
  },
  "characters.uppercase": {
    "upper alpha": "upper alpha",
    "upper bravo": "upper bravo",
    "upper charlie": "upper charlie",
    "upper delta": "upper delta",
    "upper echo": "upper echo",
    "upper foxtrot": "upper foxtrot",
    "upper golf": "upper golf",
    "upper hotel": "upper hotel",
    "upper indigo": "upper indigo",
    "upper juliet": "upper juliet",
    "upper kilo": "upper kilo",
    "upper lima": "upper lima",
    "upper mike": "upper mike",
    "upper november": "upper november",
    "upper oscar": "upper oscar",
    "upper poppa": "upper poppa",
    "upper quiche": "upper quiche",
    "upper romeo": "upper romeo",
    "upper sierra": "upper sierra",
    "upper tango": "upper tango",
    "upper uniform": "upper uniform",
    "upper victor": "upper victor",
    "upper whiskey": "upper whiskey",
    "upper x-ray": "upper x-ray",
    "upper yankee": "upper yankee",
    "upper zulu": "upper zulu"
  }
}